.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.userauth {
  text-align: center;
  margin: 20px 0;
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.aniMovies, .aniSeries {
  width: 80%;
  margin: 10px 0;
}

.aniMovUp, .aniSerUp {
  display: flex;
  justify-content: space-between;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px 0;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

.news {
  margin-bottom: 20px;
}

.news-items {
  display: flex;
  flex-direction: column;
}

.news-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.news-item {
  display: flex;
  width: 30%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
}

.news-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}





.news-title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal; /* Change from nowrap to normal */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; /* Adjust this based on your font size */
  max-height: 4.5em; /* 3 lines * line-height */
}

.news-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal; /* Change from nowrap to normal */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em; /* Adjust this based on your font size */
  max-height: 4.5em; /* 3 lines * line-height */
}
